rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
       match /users/{userId} {
          allow read: if Signedin() && request.auth.uid == userId;  
          allow update: if Signedin() && request.auth.uid == userId;
        }
    }
    match /clubsCollection/{clubId} {
      allow read: if Signedin();
      allow write: if Signedin() && (IsAdmin() || checkClubAdmin(request.resource.data.name));
      allow create: if Signedin() && (IsAdmin() || checkClubAdmin(request.resource.data.name));
      allow update: if Signedin() && (IsAdmin() || checkClubAdmin(request.resource.data.name));
      allow delete: if Signedin() && (IsAdmin() || checkClubAdmin(request.resource.data.name));
    }

    match /eventsCollection/{eventId} {
      allow read: if (Signedin() && resource.data.isApproved == true) || IsAdmin();
      allow write: if Signedin() && IsAdmin();
      allow create: if Signedin() && (IsAdmin() || checkClubAdmin(request.resource.data.clubAffiliation[0]) || checkClubAccount(request.resource.data.clubAffiliation[0]));
      allow update: if Signedin() && (IsAdmin());
      allow delete: if Signedin() && (IsAdmin() || checkClubAdmin(request.resource.data.clubAffiliation[0]) || checkClubAccount(request.resource.data.clubAffiliation[0]));
    }


      match /noticesCollection/{noticeId} {
      allow read: if Signedin()
      allow write: if Signedin() && IsAdmin();
      allow create: if Signedin() && (IsAdmin());
      allow update: if Signedin() && (IsAdmin());
      allow delete: if Signedin() && (IsAdmin());
    }
    

    function checkClubAccount(clubName){
      return Signedin() &&  get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[0] == clubName;
    }

    function checkClubAdmin(clubName){
      return Signedin() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[0].split('-')[1] == 'coordinator' && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[0].split('-')[0] == clubName;
    }

    function IsAdmin(){
      return Signedin() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[0] == 'admin';
    }
  }
}
function Signedin(){
  return request.auth != null;
}